<%- include("header") -%>

<h2>Here lie the about page</h2>

<p>lorem ipsum skddjnwjf  e wed wwjnwjnwjnwd en2jwb2jwljwhbddqkjwbeqjhdbhqbcqwluih;uhiohrlkhjcbqejkfbcvlhqbefvqer</p>

<%- include("footer") -%>
